<!DOCTYPE html>
<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!--Title-->
        {% block title %}
            <title>Ecoleta</title>
        {% endblock title %}
        <!--Style-->
        <link href="/styles/main.css" rel="stylesheet">
        {% block styles %}{% endblock styles %}
        <link href="/styles/responsive.css" rel="stylesheet">

    </head>
    <body>
        <div id="{{ pageId }}">
            {% block content %}{% endblock content %}
        </div>
        {% block modal %}{% endblock modal %}
        {% block scripts %}{% endblock scripts %}
    </body>
</html>

